<div class="chat-ctrl">
  <ul class="chat-more">
    <li class="chat-emoji-list">
      <ul class="chat-more-box">
      </ul>
      <span>😏</span>
    </li>
  </ul>
  <div class="chat-send">
    <textarea class="chat-msg-send" contenteditable></textarea>
    <div class="chat-send-btn">
      发送
    </div>
  </div>
</div>