.home-metro-box-wrap {
  overflow: hidden;
}
.home-metro-box {
  width: @metroBoxWidth;
  height: @metroBoxHeight;
  line-height: @metroBoxHeight;
  text-align: center;
  float: left;
  background-color: white;
  color: black;
  font-size: @fontMetroBox;
  margin: @metroBoxGap 0 0 @metroBoxGap;
}