<!DOCTYPE html>
<html>
<head>
  <%- include common/head.ejs %>
</head>
<body>
  <%- include special/forkButton.ejs %>
  <%- include common/infoTop.ejs %>
  <%- include special/about.ejs %>
</body>
</html>