<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.min.css' />
  </head>
  <body>
    <a class="fork-me-wrap" href="https://github.com/bergwhite/nodejs-chat" target="_blank">
      <img class="fork-me" src="http://images.cnitblog.com/i/214648/201403/181013198028385.png">
    </a>
    <div class="chat-name top-title">
      <p><%= title %></p>
    </div>
    <h1>欢迎<a href=<%= '/user/' + user%>><%= user %></a>。首页加工中，请去<a href="/room">房间列表</a></h1>
    <script type="text/javascript" src="/js/mobile.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  </body>
</html>
