<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
  </head>
  <body>
    <h1 style="text-align: center;"><%= title %></span></h1>
    <div class="chat">
      <div class="chat-info">
        <input type="text" placeholder="Enter your name" id="user-reg">
        <a class="chat-info-confirm" onclick="nodejsChat.method.regUser()">ok</a>
        <p  id="user-reg-tip" style="color: red;"></p>
      </div>
      <div class="user-list-wrap">
        <p class="user-list-name">Online List</p>
        <ul class="user-lists">
          
        </ul>
      </div>
      <div class="chat-ctx-wrap">
        <div class="chat-ctx">
          <ul class="chat-msg-list"></ul>
        </div>
        <div class="chat-send">
          <div class="chat-msg-send" contenteditable>
          </div>
          <div class="chat-send-btn" onclick="nodejsChat.method.sendMessage()">
            发送
          </div>
        </div>
      </div>
    </div>
    <script src="http://localhost:81/socket.io/socket.io.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
