<!DOCTYPE html>
<html>
<head>
  <%- include common/head.ejs %>
  <script type="text/javascript" src="/js/roomList.min.js"></script>
</head>
<body>
  <div class="room-list">
    <%- include common/infoTop.ejs %>
    <%- include room/roomList.ejs %>
  </div>
</body>
</html>
