<!DOCTYPE html>
<html>
  <head>
    <%- include common/head.ejs %>
  </head>
  <body>
    <%- include common/infoTop.ejs %>
    <%- include room/roomMember.ejs %>
    <script type="text/javascript" src="/js/roomMember.min.js"></script>
  </body>
</html>
