<!DOCTYPE html>
<html>
<head>
  <%- include common/head.ejs %>
</head>
<body>
  <div class="room-add">
    <%- include common/infoTop.ejs %>
    <%- include room/roomAdd.ejs %>
  </div>
  <script type="text/javascript" src="/js/roomAdd.min.js"></script>
  <%- include common/footerScriptAxios.ejs %>
</body>
</html>
