<!DOCTYPE html>
<html>
  <head>
    <%- include common/head.ejs %>
  </head>
  <body>
    <%- include common/infoTop.ejs %>
    <h1>页面建造中</h1>
    <script type="text/javascript" src="/js/roomMember.min.js"></script>
  </body>
</html>
