<!DOCTYPE html>
<html>
<head>
  <title><%= title %> - NodeJS Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
  <link rel='stylesheet' href='/css/index.min.css' />
</head>
<body>
  <div class="room-add">
    <div class="top-title">
      <span>
        <a class="top-prev" href="/room">&lt;</a>
      </span>
      <span>
        <a class="top-next room-add-submit">√</a>
      </span>
      <p><%= title %></p>
    </div>
    <div class="add-info">
      <div>
        <input type="text" class="input-default add-info-name" placeholder="房间名字">
      </div>
      <div>
        <input type="text" class="input-default add-info-desc" placeholder="房间简介">
      </div>
      <p class="add-info-tip"></p>
    </div>
  </div>
  <script type="text/javascript" src="/js/mobile.js"></script>
  <script type="text/javascript">
    (() => {
      const roomName = document.getElementsByClassName('add-info-name')[0]
      const roomDesc = document.getElementsByClassName('add-info-desc')[0]
      const infoSubmitBtn = document.getElementsByClassName('room-add-submit')[0]
      const infoSubmitTip = document.getElementsByClassName('add-info-tip')[0]
      const prevPageHost = document.location.origin
      const prevPageHostUrl = prevPageHost + '/api/room/add'

      // 页面加载完成时，聚焦房间名字输入框
      document.body.onload = () => roomName.focus()

      // 监听提交按钮
      infoSubmitBtn.addEventListener('click', (e) => {
        // 阻止链接默认事件
        e.preventDefault()
        // 信息输入完整则提交，未输入完整则提示
        if (roomName.value === '') {
          infoSubmitTip.innerText = '请输入名称'
          roomName.focus()
        }
        else if (roomDesc.value === '') {
          infoSubmitTip.innerText = '请输入描述'
          roomDesc.focus()
        }
        else {
          submitNewRoomInfo()
        }
      }, false)

      // 新房间提交函数
      function submitNewRoomInfo() {
        axios.post(prevPageHostUrl, {
          name: roomName.value,
          desc: roomDesc.value
        }).then((res) => {
          // 成功则跳转到房间列表
          if (res.data.msgCode === 200) {
            document.location = '/room'
          }
          // 否则显示返回的信息
          else {
            infoSubmitTip.innerText = res.data.msgCtx
            roomName.focus()
          }
        }).catch((err) => {
          // 如果捕获到错误，则进行提示
          infoSubmitTip.innerText = err
          roomName.focus()
        })
      }
    })()
  </script>
  <script type="text/javascript" src="//cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
</body>
</html>