<!DOCTYPE html>
<html>
<head>
  <title><%= headTitle %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
  <link rel='stylesheet' href='/css/index.min.css' />
  <link rel='stylesheet' href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css" />
</head>
<body>
  <%- include common/infoTop.ejs %>
  <div class="animated fadeIn">
    <h1>项目只支持移动端访问</h1>
    <img src="http://nchat.oss-cn-beijing.aliyuncs.com/img/NChat-qrcode.png">
    <h2>PC端请打开浏览器的移动端视图，然后<a href="/">点击这里</a>进入移动端页面。</h2>
  </div>
</body>
</html>