<!DOCTYPE html>
<html>
<head>
  <title>跳转到PC - NodeJS Chat</title>
</head>
<body>
  <h1>当前项目不支持PC访问，PC端请访问<a class="pc-editon" href="#">PC版本</a>。</h1>
  <h2>开发者请打开浏览器的手机视图，并访问<a href="/">首页</a>，进入移动端访问。</h2>
  <script type="text/javascript" src="/js/tipJumpToPc.js"></script>
</body>
</html>