<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1.0,user-scalable=no">
  <title>Login - NodeJS Chat</title>
  <link rel='stylesheet' href='/css/index.min.css' />
</head>
<body>
  <a class="fork-me-wrap" href="https://github.com/bergwhite/nodejs-chat" target="_blank">
    <img class="fork-me" src="http://images.cnitblog.com/i/214648/201403/181013198028385.png">
  </a>
  <div class="login">
    <div class="login-logo-wrap">
      <div class="login-logo">
        NChat
      </div>
    </div>
    <div class="login-user-wrap">
      <input class="login-user" type="text" placeholder="user">
    </div>
    <div class="login-pass-wrap">
      <input class="login-pass" type="password" placeholder="pass">
    </div>
    <div class="login-confirm-wrap">
      <span class="login-tip"></span>
      <span class="login-repass"><a href="/forget">忘记密码</a></span>
      <div class="login-info-wrap">
        <input class="login-confirm" type="button" value="登陆">
        <input class="register-confirm" type="button" value="注册">
      </div>
    </div>
  </div>
  <script type="text/javascript" src="/js/mobile.min.js"></script>
  <script type="text/javascript" src="//cdn.bootcss.com/axios/0.16.2/axios.min.js"></script>
  <script type="text/javascript" src="/js/login.min.js"></script>
</body>
</html>