<!DOCTYPE html>
<html>
<head>
  <%- include common/head.ejs %>
</head>
<body>
  <%- include special/forkButton.ejs %>
  <%- include user/userLogin.ejs %>
  <script type="text/javascript" src="/js/login.min.js"></script>
  <%- include common/footerScriptAxios.ejs %>
</body>
</html>
