/* 清除样式 */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #EFEFEF;
  color: black;
  overflow: hidden;
}
ul,li,p,h1 {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.text-center {
  text-align: center;
}
/* fork按钮 */
.fork-me-wrap {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}
/* 聊天室的名称 */
.chat-name {
  background-color: rgb(33,150,243);
  padding: 20px;
}
.chat {
  width: 803px;
  height: 600px;
  margin: auto;
  position: relative;
  padding-top: 30px;
}
.info-user {
  text-align: center;
}
#user-reg {
  padding: 10px 20px;
}
.chat-info-confirm {
  background-color: rgb(68,138,255);
  padding: 5px;
  cursor: pointer;
}
#user-reg, .chat-info-confirm, #user-reg-tip {
  width: 80%;
  margin: 20px auto 0 auto;
}
.user-list-wrap {
  width: 181px;
  height: 400px;
  border: 1px solid white;
  float: left;
  border-left: 0;
  overflow: hidden;
}
.user-lists {
  padding: 0 20px;
  height: 220px;
}
.room-list {
  padding: 5px 10px;
}
.chat-ctx-wrap {
  float: left;
  width: 600px;
  height: 400px;
  border: 1px solid white;
  overflow: hidden;
}
.chat-ctx {
  padding: 20px;
  height: 280px;
  overflow-y: hidden;
}
.chat-ctx:hover {
  overflow-y: auto;
}
.chat-more-wrap {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px solid white;
}
.chat-more > li {
  float: left;
  width: 40px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
.chat-more-box {
  position: absolute;
  left: 0;
  top: -80px;
  width: 280px;
  height: 80px;
  text-align: left;
  visibility: hidden;
  background-color: #EFEFEF;
}
.chat-more-box > li {
  width: 20px;
  text-align: center;
  float: left;
}
.chat-msg-list {
  height: 80px;
}
.chat-msg-list > li {
  word-break:break-all;
}
.chat-msg-send {
  overflow-y: auto;
  height: 80px;
  width: 80%;
  float: left;
  padding: 10px 20px;
  outline: none;
  color: black;
  resize: none;
  font-size: 16px;
  border: 0;
}
.chat-send-btn {
  overflow: hidden;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  background-color: #EFEFEF;
  color: black;
}
.info-tab-cut {
  overflow: hidden;
}
.info-tab {
  transition: all .7s;
  width: 540px;
  height: 250px;
  overflow: hidden;
}
.info-tab-cut,.info-user,.info-menber,.info-room {
  width: 180px;
}
.info-room {
  position: absolute;
  left: -180px;
  top: 30px;
  border: 1px solid white;
  border-right: 0;
  height: 400px;
  padding: 10px;
}
.info-user {
  height: 150px;
}
.info-menber {
  height: 250px;
}
.info-tab > li {
  float: left;
}
/* 泡泡组件 */
.bubble {
  color: black;
  overflow: hidden;
  padding: 10px;
}
/* 左边泡泡 */
.bubble-left {
  // background-color: #03a9f4;
}
/* 右边泡泡 */
.bubble-right {
  // background-color: #009688;
}
/* 左边泡泡 头部信息 */
.bubble-left > .bubble-head {
  float: left;
}
/* 右边泡泡 头部信息 */
.bubble-right > .bubble-head {
  float: right;
}
/* 左边泡泡 内容 */
.bubble-left > .bubble-ctx {
  float: left;
  margin-left: 20px;
}
.bubble-ctx-show::before {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
}
.bubble-ctx-show::after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
}
.bubble-left .bubble-ctx-show::before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #00bcd4;
  left: -10px;
  top: 10px;
}
/* 左边泡泡 三角形 */
.bubble-left .bubble-ctx-show::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 10px solid #EFEFEF;
  left: -9px;
  top: 10px;
}
/* 左边泡泡 内容 */
.bubble-right > .bubble-ctx {
  margin-right: 20px;
  float: right;
}
/* 右边泡泡 三角形 */
.bubble-right .bubble-ctx-show::before {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #00bcd4;
  right: -10px;
  top: 10px;
}
.bubble-right .bubble-ctx-show::after {
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 10px solid #EFEFEF;
  right: -9px;
  top: 10px;
}
/* 全局泡泡 头部 */
.bubble-head {
  width: 40px;
  height: 40px;
}
/* 全局泡泡 内容 */
.bubble-ctx {
  word-break: break-all;
  width: 60%;
}
.bubble-ctx-border {
  border: 1px solid #00bcd4;
  border-radius: 10px;
  margin: 0;
  padding: 5px;
  position: relative;
}
.bubble-ctx-show {
  margin: 0;
  padding: 5px 10px;
}
/* 全局泡泡 信息 */
.bubble-info {
  overflow: hidden;
  padding-bottom: 5px;
}
/* 全局泡泡 信息列表 */
.bubble-left .bubble-info-user {
  float: left;
  color: #00bcd4;
}
.bubble-left .bubble-info-time {
  float: right;
  padding-right: 16px;
}
.bubble-right .bubble-info-user {
  color: #ffc107;
  float: right;
  margin-right: 0;
}
.bubble-right .bubble-info-time {
  float: left;
  padding-left: 16px;
}