* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: black;
  color: white;
  overflow: hidden;
}
ul,li {
  padding: 0;
  margin: 0;
}
li {
  list-style-type: none;
}
.chat {
  width: 603px;
  height: 300px;
  margin: auto;
  position: relative;
  padding-top: 30px;
}
.info-user {
  text-align: center;
}
#user-reg {
  padding: 10px 20px;
}
.chat-info-confirm {
  border: 1px solid white;
  padding: 5px;
  cursor: pointer;
}
#user-reg, .chat-info-confirm {
  width: 80%;
  margin: 20px auto 0 auto;
}
#user-reg-tip {
  margin: 0;
}
.user-list-wrap {
  width: 181px;
  height: 300px;
  border: 1px solid white;
  float: left;
  border-left: 0;
  overflow: hidden;
}
.user-lists,.room-list {
  padding: 0 20px;
}
.chat-ctx-wrap {
  float: left;
  width: 400px;
  height: 300px;
  border: 1px solid white;
  overflow: hidden;
}
.chat-ctx {
  padding: 20px;
  height: 220px;
  border-bottom: 1px solid white;
  overflow-y: hidden;
}
.chat-ctx:hover {
  overflow-y: auto;
}
.chat-msg-list {
  height: 80px;
}
.chat-msg-list > li {
  word-break:break-all;
}
.chat-msg-send {
  overflow-y: scroll;
  height: 80px;
  width: 80%;
  float: left;
  padding: 10px 20px;
  outline: none;
}
.chat-send-btn {
  overflow: hidden;
  text-align: center;
  line-height: 80px;
  cursor: pointer;
  background-color: white;
  color: black;
}
.info-tab-list {
  height: 50px;
  line-height: 50px;
  overflow: hidden;
}
.info-tab-list > li {
  float: left;
  width: 60px;
  text-align: center;
  cursor: pointer;
}
.info-tab-cut {
  overflow: hidden;
}
.info-tab {
  transition: all .7s;
  width: 540px;
  height: 250px;
  overflow: hidden;
}
.info-tab-cut,.info-user,.info-menber,.info-room {
  width: 180px;
  height: 250px;
}
.info-tab > li {
  float: left;
}