.user-info-wrap {
  margin-top: @marginBox;
}
.user-info {
  padding: 20px;
  font-size: @fontInfo;
}
// Fix: Img can not be wrapped.
.user-info-img-wrap {
  height: 2rem;
  width: 100%;
  text-align: center;
}
.user-info-img {
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
}