<div class="login">
  <div class="login-logo-wrap animated rubberBand">
    <div class="login-logo">
      NChat
    </div>
  </div>
  <div class="animated fadeIn">
    <div class="login-user-wrap">
      <input class="login-user" type="text" placeholder="user">
    </div>
    <div class="login-pass-wrap">
      <input class="login-pass" type="password" placeholder="pass">
    </div>
    <div class="login-confirm-wrap">
      <span class="login-tip"></span>
      <span class="login-repass"><a href="/forget">忘记密码</a></span>
      <div class="login-info-wrap">
        <input class="login-confirm" type="button" value="登陆">
        <input class="register-confirm" type="button" value="注册">
      </div>
    </div>
  </div>
</div>