<div class="add-info animated fadeIn">
  <div>
    <input type="text" class="input-default add-info-name" placeholder="房间名字">
  </div>
  <div>
    <input type="text" class="input-default add-info-desc" placeholder="房间简介">
  </div>
  <p class="add-info-tip"></p>
</div>