<div class="about-card animated fadeIn">
  <h1 class="about-card-title">NChat</h1>
  <h2 class="about-card-subtitle">感谢你来体验NChat</h2>
  <ul class="about-card-content">
    <li>体验过程有什么疑问请去反馈房间提问</li>
    <li>如果你感觉这个项目不错，请给颗STAR，谢谢</li>
  </ul>
  <h2 class="about-card-subtitle">这是一个全栈式开发的应用</h2>
  <ul class="about-card-content">
    <li>前端：Express+EJS+ES6+Less+Gulp</li>
    <li>后端：REST API+SocketIO+MongoDB</li>
  </ul>
  <h2 class="about-card-subtitle">未来的版本</h2>
  <ul class="about-card-content">
    <li>后台：Vue</li>
    <li>PC：React</li>
    <li>WIN：Electron</li>
    <li>安卓：React Native</li>
  </ul>
</div>