<div class="about-card animated fadeIn">
  <h1 class="about-card-title">NChat</h1>
  <h2 class="about-card-subtitle">感谢你来体验NChat</h2>
  <ul>
    <li>体验过程有什么疑问请去反馈房间提问</li>
    <li>如果你感觉这个项目不错，请给颗STAR，谢谢</li>
  </ul>
  <h2 class="about-card-subtitle">这是一个全栈式开发的应用</h2>
  <ul>
    <li>前端使用Express管理路由</li>
    <li>使用EJS渲染页面</li>
    <li>后端提供REST API给前端调用</li>
    <li>使用SocketIO实时管理用户在线状态</li>
  </ul>
  <h2 class="about-card-subtitle">未来的版本</h2>
  <ul>
    <li>目前已经有PC版和Mobile版</li>
    <li>未来计划使用React重构桌面端</li>
    <li>使用Vue重构后台管理系统</li>
    <li>使用Electron打包Win应用</li>
    <li>使用React Native开发安卓和IOS客户端</li>
    <li>...</li>
  </ul>
</div>