<ul class="home-metro-box-wrap animated fadeIn">
  <li class="home-metro-box">用户</li>
  <li>
  <a class="home-metro-box" href="/room">房间</a>
  </li>
  <li>
    <a class="home-metro-box" href=<%= '/user/' + user%>>个人</a>
  </li>
  <li>
    <a class="home-metro-box" href="/about">关于</a>
  </li>
</ul>